{% extends "Templates/default.twig" %}
{% import "Search/panel.twig" as searchPanel %}

{% block content %}

<!-- bloc-14 -->
<div class="bloc tc-black bgc-anti-flash-white l-bloc" id="bloc-14">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="mg-md text-center">
					Szabadúszó projektek
				</h1>

                {{ searchPanel.render(container) }}
				
				<div class="row">
					<div class="col-sm-12 text-center" id="list-results">
						<p class=" project-count-paragraph">
							Összes projekt: <span class="bold">{{ countAllProjects }}</span>
						</p>
						{% if current %}
						<p class=" project-count-paragraph">
							Keresési találatok száma: <span class="bold">{{ countProjects }}</span>
						</p>
						{% endif %}
					</div>					
				</div>
				
				{% include 'Project/parts/_pager.twig' %}					
				{% include 'Project/parts/_list.twig' %}				
				{% include 'Project/parts/_pager.twig' %}
				
			</div>
		</div>
	</div>
</div>
<!-- bloc-14 END -->

{% endblock content %}
