/application/cache
/application/logs
/vendor
/composer.lock
/docs
/nbproject
/web
/uploads/cv/*
/uploads/picture/*
/application/config/base.php
/.htaccess
/db
/modules/arraybuilder/docs
.DS_Store
.idea
phpmetrics
report
coverage
/application/config/database.php
/application/classes/Controller/Test.php
/application/views/Test/*
.phpintel
/modules/gateway/config/socket.php
tags
*.swp
.php_cs.cache
*@*.*.html
tests/_output/*