<div id="blackfriday" class="landing-page container blackfriday" style="display: none;">
    <div class="landing body">
        <h1 class="text-center tc-black landing main-header">BLACK FRIDAY</h1>

        <div class="text-center col-sm-4 left" style="border-top: 1px solid white;">
            <img src="{{ ROOT }}media/img/szabaduszok-blackfriday-tag.png" alt="Szabaduszok.com - Black Friday">
        </div>

        <div class="text-left col-sm-8 right" style="border-top: 1px solid white;">
            <h2>Mit kapsz tőlönk?</h2>
            <p>Black Friday alkalmából minden projektet ingyen posztolhatsz az oldalunkon. Sőt, nem csak, hogy ingyen van, de minden projektet támogatunk</p>
            <ul>
                <li>Ingyenes előszűréssel. Megkeressük Neked a legjobb Szabadúszókat személyesen!</li>
                <li>Facebook megosztással</li>
            </ul>
            <p>Ezzel biztosítjuk számodra, hogy megtaláld a lehető legjobb embert, a lehető legkevesebb idő alatt.</p>

            <h2>Hány Szabadúszót érhetsz el?</h2>
            <p>Összesen <span class="bold">{{ countOfFreelancers }}</span> Szabadúszót böngészhetsz, és ennyien fognak értesítést kapni a projektjeidről. Facebook közönségünk, továbbá több, mint 150 emberhez juttatja el a projekted.</p>

            <h2>Mit kapsz még?</h2>
            <p>Mindezek mellé, ajándékba elküldünk egy tanulmányt, aminek a címe: Nélkülözhetetlen eszközök Projektek megvalósításához.</p>

            <h2>Mit kérünk cserébe?</h2>
            <p>Abszolút semmit.</p>
        </div>

        <div class="col-sm-12 center text-center">
            <a href="{{ ROOT }}megbizo-regisztracio" type="submit" class="btn btn-xl animDelay1 erdekel-cta call-to-action">Érdekel</a>
        </div>
    </div>
</div>