<div id="employer" class="landing-page container employer" style="display: none;">
    <div class="container fill-bloc-top-edge landing" id="landing-header-container">
        <nav class="navbar row landing">									
            <img src="{{ ROOT }}media/img/szabaduszok-logo-web.png" alt="Szabaduszok.com a magyar freelancer platform" />			
        </nav>	
    </div>

    <div class="landing body">        
        
        <h1 class="text-center tc-black landing main-header">Pörgesd Fel az Ötleted Megvalósítását Még Ma!</h1>
        <h2 class="text-center tc-black landing">Egy projekt elindítása rengeteg munkát igényel. Design, fejlesztés, adminisztráció, marketing, cégvezetés... Úgy érzed, nem lehet mindent házon belül megoldani? Szervezz ki munkát Szabadúszóknak!</h2>

        <div class="text-left col-sm-6 left">
            <ul class="list-group tc-black">
                <li class="list-group-item">
                    <span class="fa fa-check feature-list-item lime-green"></span>
                    Összesen <span class="bold">{{ countOfFreelancers }}</span> Szabadúszó kap értesítést a projektedről
                </li>
                <li class="list-group-item">
                    <span class="fa fa-check feature-list-item lime-green"></span>
                    <span class="bold">Korlátozott ideig teljesen ingyen</span> indíthatsz projekteket, és kereshetsz Szabadúszókat
                </li>
                <li class="list-group-item">
                    <span class="fa fa-check feature-list-item lime-green"></span>
                    Nem kell mindent <span class="bold">cégen belül</span> megoldanod
                </li>	
                <li class="list-group-item">
                    <span class="fa fa-check feature-list-item lime-green"></span>
                    Az igazán <span class="bold">fontos</span> feladatokra tudsz koncentrálni
                </li>
                <li class="list-group-item">
                    <span class="fa fa-check feature-list-item lime-green"></span>
                    Ajándékba elküldünk egy tanulmányt, 12 olyan eszközről, ami <span class="bold">nélkülözhetetlen egy projekt, vagy egy ötlet megvalósításához</span> 
                </li>
            </ul>
        </div>		

        <div class="text-left col-sm-6 right">
            <div class="panel">
                <div class="panel-heading">
                    <h2 class="mg-clear tc-black text-center">
                        Add meg az e-mail címed, és készíts egy profilt!
                    </h2>
                </div>
                <div class="panel-body text-center">
                    <form method="GET" action="{{ ROOT }}megbizo-regisztracio" class="landing-form">
                        <span class='error-label has-error general-error-label block mb10 text-center'></span>		
                        <input class="landing-email form-control" type="email" autofocus required placeholder="E-mail cím" name="email">
                        <input class="landing-email form-control" type="hidden" autofocus required placeholder="E-mail cím" name="landing_page_name" value="employer">
                        <button type="submit" class="btn btn-xl animDelay1 erdekel-cta btn-lime-green call-to-action">TOVÁBB</button>                                                
                    </form>                                            
                        
                    <span class="fa fa-lock feature-list-item"></span>Mi sem szeretjük a spam -et. E-mail címedet <a href="{{ ROOT }}szabaduszok-adatvedelem" target="_blank">Adatvédelmi nyilatkozatunknak</a> megfelelően kezeljük!
                    <ul class="contact text-center">
                        <li>
                            <span class="ion ion-android-phone-portrait feature-list-item"></span>
                            06301923380
                        </li>
                        <li>
                            <span class="ion ion-email feature-list-item"></span>
                            hello@szabaduszok.com
                        </li>
                    </ul>
                </div>                
            </div>                               
        </div> 
                    
        <h1 class="mg-md text-center  tc-black">
            Mi az a Szabaduszok.com?
        </h1>
        <h2 class="mg-md tc-black text-center">
            Egy olyan webes platform, ahol Projektet posztolhatsz, és Szabadúszók közt böngészhetsz
        </h2>
        <p class="text-center description">
            A lényeg, hogy külső segítséget tudj bevonni a projektedbe, az ötleted megvalósításába. A külső segítség, jól képzett, magyar Szabadúszókat jelent. Szeretnénk lehetővé tenni, hogy a szakértelem bevonása, kényelmesen, és gyorsan történjen, egy modern webes platformon.
        </p>				       
        <p class="text-center bold description-last">
            Sikeresen forradalmasítjuk a magyar piacot, és megváltoztatjuk a magyar Szabadúszók, Megbízók életét.
        </p>
    </div>
</div>