<p>Bármilyen kérdés esetén nyugodtan fordulj hozzánk a <a href="mailto:hello@szabaduszok.com">hello@szabaduszok.com</a> e-mail címen, vagy válaszolj erre az e-mailre.</p>
<h3>Üdvözlettel: Joó Martin Szabaduszok.com</h3>

<a style="margin: 0 auto" href="{{ root }}"><img width="300" height="60" src="{{ getImage('szabaduszok-logo.png') }}" class="logo" alt="Szabaduszok.com - A magyar Freelancer platform"></a>
<p>Szabaduszok.com - A magyar Freelancer platform</p>

<p class="unsubscribe">--------------</p>
<p class="unsubscribe">Amennyiben nem szeretnél több érdekes projekt értesítőt kapni, kérlek jelezd ezt egy válasz e-mailben.</p>