<!-- Footer - bloc-23 -->
<div class="bloc bgc-white l-bloc" id="bloc-23">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-4 tac-mobile-child talf">
				<h3 class="mg-md">
					Rólunk
				</h3>
				
				<a href="{{ ROOT }}szabaduszok-hogyan-mukodik" class="a-btn a-block">Hogyan működik?</a>
				<a href="{{ ROOT }}szabaduszok-irj-nekunk" class="a-btn a-block">Írj nekünk!</a>
			</div>
			<div class="col-sm-4 tac-mobile-child tacf">
				<h3 class="mg-md">
					Kövess minket
				</h3>
				<a href="http://blog.szabaduszok.com/" class="a-btn a-block" target="_blank">Szabaduszok.com Blog</a>
				<a href="http://facebook.com/szabaduszok/" class="a-btn a-block" target="_blank">Szabaduszok.com Facebook</a>
			</div>
			<div class="col-sm-4 tac-mobile-child tarf">
				<h3 class="mg-md text-left">
					Cégadatok
				</h3>
				<a href="{{ ROOT }}szabaduszok-felhasznalasi-feltetelek" class="a-btn a-block">Felhasználási feltételek</a>
				<a href="{{ ROOT }}szabaduszok-adatvedelem" class="a-btn a-block">Adatvédelem</a>
			</div>
		</div>
		<div>
			<h4 class="copyright">&#169; 2016 - 2017 Greentech Innováció Zrt.</h4>
		</div>
	</div>
</div>
<!-- Footer - bloc-23 END -->
