{% extends "Templates/default.twig" %}

{% block content %}
    <!-- Main container -->
<div class="page-container">
    
<!-- Bloc Group -->
<div class='bloc-group'>

<!-- bloc-26 -->
<div class="bloc bloc-tile-2 tc-black bgc-white " id="bloc-26">
    <div class="container bloc-lg">
        <div class="row">
            <div class="col-sm-12">

                {% for i in 1..5 %}
                <div class="row user-container" style="border-bottom: 1px solid silver">
                    <div class="col-sm-1 text-center">
                        <span class="ion icon-responsive ion-record icon-sm icon-ultramarine-blue"></span>
                    </div>
                    <div class="col-sm-3 text-center">
                        <img style="margin-top: 24px;width: 55px; height: 55px;" src="{{ ROOT }}media/img/szabaduszok-placeholder.png" class="img-circle center-block" data-placement="top" data-toggle="tooltip" title="Joó Martin" />
                    </div>
                    <div class="col-sm-6">
                        <h3 class="mg-sm message-user-header tc-black">
                            Joó Martin
                        </h3>
                        <p class="message-preview">
                            Ez itt az utolsó üzenet első x karaktere... Ez ittsafsdafsdfa az utolsó üzenet első x karaktsadfsdafsere...
                        </p>                    
                    </div>            
                    <div class="col-sm-2 text-center message-time">
                        ma
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- bloc-26 END -->

<!-- bloc-27 -->
<div class="bloc bloc-tile-2 bgc-white l-bloc" id="bloc-27">
    <div class="container bloc-lg">
        <div class="row">
            <div class="col-sm-12">
                <form id="form_39619" novalidate>
                    <div class="message-day text-center">
                        December 4, hétfő                  
                    </div>                      

                    <p class="bubble time outgoing">10:12</p>
                    <p class="triangle-obtuse top blue bubble outgoing">Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú.</p>
                      
                    <p class="bubble time incoming">14:26</p>
                    <p class="triangle-obtuse top gray bubble incoming">Fogadott üzenet</p>
                    
                    <div class="message-day text-center">
                        Tegnap                                
                    </div>            
                                     
                    <p class="bubble time outgoing">08:33</p>
                    <p class="triangle-obtuse top blue bubble outgoing">Elküldött üzenet</p>
                      
                    <p class="bubble time incoming">09:17</p>
                    <p class="triangle-obtuse top gray bubble incoming">Fogadott üzenet</p>

                    <div class="message-day text-center">
                        Ma
                    </div>            

                    <p class="bubble time outgoing">16:49</p>
                    <p class="triangle-obtuse top blue bubble outgoing">Elküldött üzenet</p>
                      
                    <p class="bubble time incoming">17:55</p>
                    <p class="triangle-obtuse top gray bubble incoming">Fogadott üzenet</p>

                    <div class="form-group message-text-container" style="margin-top: 30px;">
                        <textarea id="message-text" class="form-control" rows="4" cols="50" placeholder="Ide írd az üzenetet..." id="textarea_1946"></textarea>
                    </div>
                    <a href="#" id="send" class="btn btn-lg btn-block btn-ultramarine-blue btn-sq">Küldés</a>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- bloc-27 END -->
</div>
<!-- Bloc Group END -->
</div>
{% endblock content %}