{% extends "Templates/default.twig" %}

{% block content %}
    <div class="bloc bgc-anti-flash-white tc-black">
        <div class="container bloc-lg">
            <div class="col-sm-4">
                25
            </div>
            <div class="col-sm-8">
                75
            </div>
        </div>
    </div>
{% endblock content %}