{% extends "Templates/default.twig" %}

{% block content %}
<!-- bloc-19 -->
<div class="bloc tc-black bgc-white l-bloc" id="bloc-19">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="mg-md text-center tc-black">
					Elfelejtett jelszó
				</h1>
				<form id="passwordreminder-form" method="POST" action="{{ ROOT }}szabaduszok-elfelejtett-jelszo">
					<input type="hidden" name="csrf-token" value="{{ token }}">
					
					<span class='error-label has-error general-error-label block mb10'>{{ error }}</span>
					<span class="ion ion-email pull-left icon-sm icon-dark-gray"></span>
					<div class="form-group">
						<label>
							E-mail*
						</label>
						<input id="email" class="form-control" type="email" name="email" required>
					</div> 
					<button class="bloc-button btn btn-lg btn-block btn-lime-green" type="submit">
						<span class="ion ion-checkmark icon-white icon-spacer"></span>Új jelszót kérek
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- bloc-19 END -->
{% endblock content %}