{% extends "Templates/notification_base.twig" %}

{% block eventText %}
    <p>Gratulálunk! {{ notifier.getName() }} elfogadta a jelentkezésed a(z) {{ subject.getName() }} nevű projektre!</p>
    <p>A megtekintéshez kattints az alábbi gombra:</p>

    <a class="cta text-center center" target="_blank" href="{{ notification.getUrl() }}">Érdekel</a>
{% endblock eventText %}