{% extends "Templates/notification_base.twig" %}

{% block eventText %}
    <p>Sajnáljuk, de {{ notifier.getName() }} elutasította a jelentkezésed a(z) {{ subject.getName() }} nevű projektre!</p>
{% endblock eventText %}