{% extends "Templates/notification_base.twig" %}

{% block eventText %}
    <p>Sajnáljuk, de {{ notifier.getName() }} törölt a(z) {{ subject.getName() }} projekt résztvevői közül.</p>
{% endblock eventText %}