.divider-h.message-day {
	padding: 0 !important;
}

.message-day {
	margin-bottom: 0;
	margin-top: 20px;
	font-size: 18px;
}

.message-day:first-child {
	margin-top: 0 !important;
}

.bubble.outgoing {
	margin-left: 20%;
}

.bubble.incoming {
	margin-right: 20%;
}

.bubble.time.outgoing {
	text-align: right;
}

.bubble.time.incoming {
	text-align: left;
}

.bubble.time {
	margin-bottom: 0 !important;
}

#bloc-26 {
	width: 33.33333333% !important;
}

#bloc-27 {
	width: 67.67777777% !important;
}