.triangle-obtuse {
  position:relative;
  padding:15px;
  /*margin:1em 0 3em;*/
  color:#000;
  background:#c81e2b;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.bubble.blue {
  /*background-color: #89C4F4;*/
  background-color: rgb(209, 238, 253);
}

.bubble.gray {
  /*background-color: #F2F1EF;*/
  background-color: rgb(247, 247, 247);
}

.message-user-header{
	font-weight:bold;
	letter-spacing:1px;
	font-size: 18px;
}
.message-preview{
	color: #4d565d;	
	font-size: 10px;
}
.message-time {
	font-size: 10px;	
	padding-top: 12px;
	padding-left: 0 !important;
}

.divider-h.message-day {
	padding: 0 !important;
}

.message-day {
	margin-bottom: 0;
	margin-top: 20px;
	font-size: 18px;
}

.message-day:first-child {
	margin-top: 0 !important;
}

.bubble.outgoing {
	margin-left: 20%;
}

.bubble.incoming {
	margin-right: 20%;
}

.bubble.time.outgoing {
	text-align: right;
}

.bubble.time.incoming {
	text-align: left;
}

.bubble.time {
	margin-bottom: 0 !important;
}

#bloc-26 {
	width: 33.33333333% !important;
	background-color: rgb(247, 247, 247);
	padding: 0 5px 0 0 !important;
}

#bloc-26 .container {
	padding-top: 0 !important;
}

#bloc-27 {
	width: 67.67777777% !important;
	border-left: 1px solid grey;
}

#bloc-27 .container {
	padding-top: 10px !important;
}

#message-text {
	border-radius: 0 !important;
	
}

#send {
	border-radius: 0 !important;
}

.user-container:hover {
	background-color: #f1f6ff;
	cursor: pointer;
}

@media (max-width: 770px)
{
	#bloc-26 {
		width: 100% !important;
	}

	#bloc-27 {
		width: 100% !important;
	}
}