<div id="{{ fancyboxId }}" class="project-partner-fancybox" style="display: none;">
    <div class="panel">
        <div class="panel-heading hidden-xs">
            {% block heading %}
            {% endblock heading %}
        </div>
        <div class="panel-body">
            {% block body %}
            {% endblock body %}
        </div>
    </div>
</div>