{% import 'Templates/form.twig' as form %}

<div id="{{ fancyboxId }}" class="project-partner-fancybox" style="display: none;">
    <div class="panel">
        <div class="panel-heading hidden-xs">
            {% block heading %}
            {% endblock heading %}
        </div>
        <div class="panel-body">
            {% block body %}
            {% endblock body %}
            <span class="loading text-center"></span>
        </div>
    </div>
</div>