{% extends "Project/Partner/fancybox_base.twig" %}

{% block heading %}
    <h1>{{ user.getName() }} jelentkezésének jóváhagyása</h1>
{% endblock heading %}

{% block body %}
    <form method="post" action="#" id="approve-application-form">
        <input name="project_partner_id" value="" type="hidden">

        <p>Ha biztosan jóvá akarod hagyni a jelentkezést, kattints a zöld 'Jóváhagyás' gombra. Érdemes egy rödiv üzenetben összefoglalni az indoklásod a szabadúszó számára.</p>
        <span class="fa fa-comment pull-left icon-sm icon-dark-gray"></span>
        <div class="form-group">
            <label>
                Üzenet
            </label>
            <textarea class="form-control" id="message" name="extra_data[message]" rows="4" cols="50"></textarea>
        </div>

        <button href="#" class="btn btn-block btn-lg btn-lime-green operation" data-operation="approve-application"><span class="ion ion-checkmark icon-spacer"></span>Jóváhagyás</button>
        <button href="#" class="btn btn-d btn-lg btn-block btn-gray cancel"><span class="ion ion-android-cancel icon-spacer icon-white"></span>Mégsem</button>
    </form>
{% endblock body %}