{% extends "Templates/default.twig" %}

{% block content %}

<div class="bloc bgc-anti-flash-white tc-black" id="bloc-15">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="mg-md text-center tc-black">
					Számlázó rendszer
				</h1>
				<div class="panel">
					<div class="panel-heading">
						<h2 class="mg-clear tc-black">
							Projekt tulajdonos profil
						</h2>
					</div>
					<div class="panel-body">
					
						<div class="col-5 fs18">
							<span class="fa fa-building icon-sm icon-dark-gray mr1"></span>
						</div>
						<div class="col-95 fs18">
							Xy Kft.
						</div>
						
						<div class="col-5 fs18">
							<span class="ion ion-location icon-dark-gray"></span> 
						</div>
						<div class="col-95 fs18">
							Budapest
						</div>
						
						<div class="col-5 fs18">
							<span class="ion ion-email icon-dark-gray"></span> 
						</div>
						<div class="col-95 fs18">
							kispista@kispista.hu
						</div>
						
						<div class="col-5 fs18">
							<span class="ion ion-android-phone-portrait icon-sm icon-dark-gray">
						</div>
						<div class="col-95 fs18">
							06301863877
						</div>
						
						<div class="col-5 fs18">
							<span class="ion ion-person icon-dark-gray"></span>
						</div>
						<div class="col-95 fs18">
							Nagy Béla (kapcsolattartó, csak cég esetén)
						</div>
						
						<div class="col-5 fs18">
							<span class="ion ion-briefcase icon-dark-gray"></span>
						</div>
						<div class="col-95 fs18">
							Informatika
						</div>
						
						<div class="col-5 fs18">
							<span class="ion ion-university icon-sm icon-dark-gray mr1"></span>
						</div>
						<div class="col-95 fs18 mb20">
							Mobil fejlesztés
						</div>
			
						<h3 class="mg-md tc-black">
						Rövid bemutatkozás
						</h3>
						
						<p class="text-justify">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
						</p>
			
						<div class="text-center">
							<a href="index.html" class="btn   btn-lg btn-ultramarine-blue"><span class="ion ion-edit icon-spacer"></span>Szerkeszt</a>
						</div>					
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading">
						<h2 class="mg-clear tc-black">
							Projekt profil
						</h2>
					</div>
					<div class="panel-body">
					
						<div class="col-5">
							<span class="ion ion-university icon-sm project-details-profeesion-sign icon-dark-gray"></span>
						</div>
						<div class="col-95 project-profession">
							<h4>Webfejlesztés</h4>
						</div>
						
						<div class="col-5">
							<span class="ion ion-social-usd icon-sm project-details-dollar-sign icon-dark-gray"></span>
						</div>
						<div class="col-95 project-details-pay-paragraph">
							<span class="bold">1500 - 1800</span> Ft / óra
						</div>
						
						<div class="col-5">
							<span class="ion ion-email icon-sm icon-dark-gray"></span>
						</div>
						<div class="col-95 fs18">
							kispista@kispista.hu
						</div>
						
						<div class="col-5">
							<span class="ion ion-android-phone-portrait icon-sm icon-dark-gray"></span>
						</div>
						<div class="col-95 fs18">
							06301729937
						</div>
					
						<p class="project-details-short-description text-justify mg-sm ">
							Hosszú leírás. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
						</p>
																							
						<p class="text-right project-share-date">
							Megosztva: 2016-05-22
						</p>
						
						
						
												
						
						
						{#<span class="ion ion-wrench pull-left icon-sm project-details-skill-sign icon-dark-gray"></span>
						<p class="project-skill-tag">
							php
						</p>
						<p class="project-skill-tag">
							mysql
						</p>#}
					</div>
				</div>
				
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
