@media (max-width: 850px) {
    
    .landing.navbar {
        float: none !important;
        margin-left: -15px !important;
        width: 100%;
    }
    
    
    .landing-page p.description {
        width: 85%;
        margin: 0 auto;
    }
}

.landing-page.blackfriday {
    color: white !important;
    font-family: Helvetica;

    background-color: black !important;
    background-image: none !important;
    font-size: 16px !important;
}

.landing.navbar {
    text-align: center;
    float: left;
    background-color: rgba(0, 33, 87, .82);
    margin-left: 0 !important;
}

.landing-page h1 {
    font-size: 40px;
    margin: 10px 10px 0 10px;
    color: #E86A10 !important;
}

.landing-page.blackfriday h1 {
    /*color: #f1c40f !important;*/
    color: white !important;
    font-family: "Josefin Sans";
    font-weight: bold;
}

.landing-page.blackfriday h2 {
    font-family: "Josefin Sans";
    font-weight: bold;
}

.landing-page.blackfriday .call-to-action {
    background-color: black !important;
}

.landing-page.blackfriday .call-to-action:hover {
    color: #E86A10;
}

.landing-page .call-to-action {
    margin: 10px auto;
    /*background-color:#F0BF2B;*/
    background-color:#F57D27;
    color: #fff;
    font-weight: bold;
}

.landing-page .call-to-action:hover {    
    /*background-color:#e8b20e;*/
    background-color: #E86A10;
}

.landing.body > .left {
	padding-left: 10px;
}

.landing.body > .right {
    /*padding-right: 10px;    */
}

.landing-page.container {
        background-size: cover;
        background-repeat: no-repeat;        
	height: 100vh;
	padding: 0 !important;
        width: auto;
        max-width: inherit;
}

.landing-page.blackfriday.container {
    height: 150vh !important;
}

.landing-page.container {
    background-image: url("../img/szabaduszok-startup-rocket.jpg");
}

.landing-page.blackfriday.container {
    background-image: none !important;
}

.landing-page.container > * {
    z-index: 2;
}

.landing-page .container {
	padding: 0 !important;
	margin: 0 !important;
}

.list-group-item {
	background-color: rgba(255, 255, 255, 0.7) !important;	
	margin-bottom: 2px;
}

.landing-page .panel {
	background-color: rgba(255, 255, 255, 0.7) !important;	
}

.landing-page .panel-heading {
	background-color: rgba(255, 255, 255, 0.7) !important;	
}

.landing-page ul > li {
    font-size: 16px;
}

.landing-email {
    height: 50px;
    font-size: 16px;
    padding-left: 10px;
}

.landing-page ul.contact > li {
    list-style: none;
    font-size: 14px;
}

.landing-page p.description {
    width: 70%;
    margin: 0 auto;
}

.landing-page .description-last {
    margin-top: 15px;
}

.landing-page .navbar {
    border-radius: 0 !important;
    border-bottom-right-radius: 4px !important;
}