{% extends "Templates/default.twig" %}

{% block content %}
<div class="bloc bgc-white l-bloc" id="bloc-4">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="mg-md text-center tc-black">
					Csatlakozz a Szabaduszok.com közösségéhez!
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- bloc-4 END -->

<!-- bloc-5 -->
<div class="bloc bgc-white l-bloc tc-black" id="bloc-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 mobile-hide">
				<div class="text-center">
					<span class="ion ion-folder icon-round icon-md"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-5 END -->

<!-- Bloc Group -->
<div class='bloc-group tc-black'>

	<!-- bloc-6 -->
	<div class="bloc bloc-tile-2 bgc-white l-bloc tc-black" id="bloc-6">
		<div class="container bloc-sm">
			<div class="row">
				<div class="col-sm-12">
					<div class="text-center">
						<span class="ion ion-person icon-round icon-md"></span>
					</div>
					<h2 class="mg-md text-center tc-black">
						Szabadúszó vagy?
					</h2>
					<p class="text-center tc-black">
						Szerezz projekteket, munkákat, és keress pénzt a szakértelmeddel!
					</p>
					<ul class="list-group value-proposition-list tc-black">
						<li class="list-group-item"><span class="fa fa-check feature-list-item lime-green"></span><span class="bold">Levesszük a válladról</span> a projekt vadászat terhét</li>
						<li class="list-group-item"><span class="fa fa-check feature-list-item lime-green"></span>Minden új munkáról, ami érdekel, azonnal <span class="bold">értesítést</span> kapsz</li>
						<li class="list-group-item"><span class="fa fa-check feature-list-item lime-green"></span>Teljesen <span class="bold">ingyenes</span></li>					
					</ul>
					<div class="text-center">
						<a href="{{ ROOT }}szabaduszo-regisztracio" class="btn btn-lg btn-lime-green">Szabadúszó vagyok, csatlakozom!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- bloc-6 END -->
	
	<!-- bloc-7 -->
	<div class="bloc bloc-tile-2 bgc-white l-bloc tc-black" id="bloc-7">
		<div class="container bloc-sm">
			<div class="row">
				<div class="col-sm-12">
					<div class="text-center">
						<span class="ion ion-person-stalker icon-round icon-md"></span>
					</div>
					<h2 class="mg-md text-center tc-black">
						Megbízó vagy?
					</h2>
					<p class="text-center tc-black">
						Keress Szabadúszókat, és váltsd valóra az ötleteid!
					</p>
					<ul class="list-group value-proposition-list tc-black">
						<li class="list-group-item"><span class="fa fa-check feature-list-item lime-green"></span><span class="bold">Pörgesd fel a projekted</span>, a megfelelő szakértelemmel</li>
						<li class="list-group-item"><span class="fa fa-check feature-list-item lime-green"></span>Fizess az elkészült munkáért, <span class="bold">teljesítmény alapján</span></li>
						<li class="list-group-item"><span class="fa fa-check feature-list-item lime-green"></span></span>Korlátozott ideig, teljesen <span class="bold">ingyenes</span></li>					
					</ul>
					<div class="text-center">
						<a href="{{ ROOT }}megbizo-regisztracio" class="btn btn-lg btn-lime-green">Megbízó vagyok, csatlakozom!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- bloc-7 END -->
</div>
<!-- bloc-group END -->
{% endblock content %}