{% extends "Templates/default.twig" %}

{% block content %}
<div class="bloc tc-black bgc-white l-bloc" id="bloc-38">
		<div class="container bloc-lg">		
			<div class="row">
				<div class="col-sm-12 text-justify privacy">				
					<h1 class="mg-md text-center tc-black">
						Szabaduszok.com - Felhasználási feltételek
					</h1>

        <h2>A felhasználási feltételek tartalma</h2>
        <ol>
            <li>A jelen felhasználási feltételek (Szerződés) a Joó Martin e.v., (9700 Szombathely Engels Frigyes 60/C; a továbbiakban:
                Szolgáltató) által üzemeltetett Szabadúszók.com (http://www.szabaduszok.com/) weboldalon (Weboldal) elérhető információs
                társadalommal összefüggő szolgáltatások (Szolgáltatás) regisztrált igénybe vevője (Felhasználó) általi használatának feltételeit
                tartalmazza.
            </li>
            <li>
                Nem regisztrált igénybevevőre (Látogató) a Szerződés rendelkezései annyiban irányadóak, amennyiben a Szolgáltatás
                keretében történő bármely aktivitására vonatkozóan a jelen Szerződés rendelkezést tartalmaz.
            </li>
            <li>
                Amennyiben a Felhasználó, illetve a Látogató a Szolgáltatás bármely elemének használatát megkezdi, egyidejűleg elfogadja
                a jelen Szerződés feltételeit. A kiskorú Felhasználók tevékenységéért törvényes képviselőjük vállal teljes felelősséget.
            </li>
            <li>
                A Szolgáltató bármikor jogosult a Szerződés egyoldalú módosítására azzal, hogy a módosításról rövid felhívás formájában
                jelen oldalon tájékoztatja a Felhasználókat. A módosítást követően a Szolgáltatás használatával a Felhasználó elfogadja a
                feltételek módosítását.
            </li>
            <li>
                A létrejövő Szerződések nyelve magyar, nem minősülnek írásba foglalt szerződésnek, ezért azokat a Szolgáltató nem iktatja,
                és utóbb nem hozzáférhetőek. A Szerződésnek része valamennyi, a Szerződésben hivatkozott dokumentum is.
            </li>
            <li>
                A Szolgáltató fenntartja a jogot, hogy a Szolgáltatás bármely tartalmi elemét bármikor előzetes figyelmeztetés nélkül
                módosítsa vagy megszüntesse, azok megjelenését, tartalmát, működését megváltoztassa, azon hirdetést, saját szolgáltatásait
                bemutató vagy egyéb tartalmat helyezzen el. A Weboldalon (x) jellel megjelölt tartalmak hirdetésnek minősülnek.
            </li>
            <li>
                Bármely, szabaduszok.com oldaltól különböző weboldal (Facebook.com, stb.), a szabaduszok.com oldalhoz kapcsolódó
                szolgáltatására az adott weboldal keretén belül közzétett szabályzatok és feltételek (is) vonatkoznak.
            </li>
            <li>
                A regisztrációval vagy annak megszűnésével, illetve a Szolgáltatás működésével kapcsolatos rendszerüzenetekről leiratkozni
                nem lehet.
            </li>
        </ol>
        
        <h2>A Szolgáltatás legfontosabb jellemzői és elemei</h2>
        <ol>
            <li>
                A Szolgáltatás célja, hogy folyamatosan fejlődő, naprakész online eszköztárával elősegítse a Szabadúszókat abban, hogy
                mielőbb értesüljenek a magyar munkapiac legfrissebb projektjeiről. Ezen célból lehetőséget nyújt, hogy
                felhasználói kereshessenek az Projektekből és Cégekből képzett adatbázisban, továbbá online hírlevelet kaphassanak, és az ajánlatokra
                akár online, azonnal jelentkezni tudjanak.
            </li>
            <li>
                A Szolgáltatás lényege információ társadalommal összefüggő szolgáltatatás nyújtása az elektronikus kereskedelmi
                szolgáltatásokról szóló 2001. évi CVIII. törvény (a továbbiakban: Elkertv.) rendelkezései alapján, valamint a Szolgáltatás egyes
                részeiben a Szolgáltató vagy a szolgáltató által megjelölt harmadik személyek szerzői jogi védelmét élvező tartalom
                hozzáférhetővé vagy elérhetővé tétele. A Szolgáltató, nem ellenőrzi az általa hozzáférhetővé tett információk tartalmát, és nem
                keres olyan tényeket vagy körülményeket, amelyek jogellenes tevékenység folytatására utalnak.
            </li>
        </ol>
        
        <h2>A regisztráció</h2>
        <ol>
            <li>
                A szolgáltatás egyes elemei csak regisztrációval vehetők igénybe. A regisztráció a regisztrációs ív valós adatokkal történő,
                megfelelő és hiánytalan kitöltésével indul. Amennyiben a Felhasználó nem ad meg adatokat, vagy nem megfelelő formátumban
                adja meg az adatokat, vagy olyan e-mail címet ad meg, amellyel regisztráció már létezik, a regisztráció újra kezdődik
                mindaddig, amíg a regisztrációs ív nem teljes és hiánytalan, vagy nem ütközik már létező regisztráció egyedi azonosításra
                alkalmas adatába.
            </li>
            <li>
                A regisztráció szükséges feltétele annak megerősítése, hogy Felhasználó a jelen Szerződés tartalmát ismeri. A
                regisztrációval Felhasználó beleegyezhet, hogy a megadott e-mail címére a Szolgáltató hírlevelet küldjön. A Felhasználó
                bármikor letilthatja a hírlevél és/vagy az elektronikus hirdetések fogadását. A Szolgáltató azonban kéri annak figyelembevételét, hogy az alapszolgáltatás
                hosszú távú, ingyenes működésének feltétele a Szolgáltatás reklámokkal történő támogatása.
            </li>
            <li>
                A regisztrációval létrehozott felhasználói fiók a Felhasználó bizonyos adatainak, jellemzőinek rögzítésére szolgál. A
                Felhasználó vállalja, hogy az adataiban bekövetkező változást fiókjában rögzíti. Az egyes felhasználói jelszavak és fiókok
                titkosságának megőrzése teljes mértékben az adott Felhasználó felelőssége. A Felhasználót terheli továbbá a teljes felelősség
                a fiókjával összefüggésben végzett valamennyi tevékenységért. A Felhasználó köteles a Szolgáltatót haladéktalanul tájékoztatni
                fiókja bármilyen jogosulatlan felhasználásáról vagy bármilyen egyéb a biztonságot sértő cselekedetről.
            </li>
            <li>
                Felhasználó tudomásul veszi, hogy a felhasználási feltételek megszegése esetén a regisztráció törlésre kerülhet. A
                Szolgáltató kizárja a felelősséget minden, esetlegesen abból eredő kárért, ha a Felhasználó jelen felhasználási feltételekbe
                ütköző magatartása vagy jogszabály megsértése miatt törölte a felhasználói profilt.
            </li>
            <li>
                A Felhasználó a regisztrációval kötelezettséget vállal arra, hogy a profiljában feltüntetésre kerülő, általa megadott vagy tárolt
                adatok, információk, fotók a Szolgáltató vagy harmadik személy jogát vagy jogos érdekét nem sértik.
            </li>
        </ol>
        
        <h2>A szolgáltatás részletei</h2>
        <ol>
            <li>
                Regisztráció nélkül is igénybe vehető szolgáltatások
                <ol>
                    <li>Kezdőoldal megtekintése</li>
                    <li>Hírlevélre való feliratkozás</li>
                    <li><a href="{{ ROOT }}szabaduszok-irj-nekunk">Kacsolati űrlap</a> kitöltése és elküldéses</li>
                </ol>
            </li>
            <li>
                Regisztrált Felhasználók által igénybe vehető szolgáltatások:
                <ol>
                    <li>
                        Projekt hirdetések indítása
                        <ol>
                            <li>
                                Regisztrált Felhasználó létrehozhat az oldalon új projektet, amire jelentkezhetnek más Felhasználók
                            </li>
                        </ol>
                    </li>
                    <li>Projekt hirdetések böngészése</li>
                    <li>Szabadúszók böngészése</li>
                    <li>Profil adatok szerkesztése</li>
                    <li>Projekt értesítő beállításai</li>                    
                    <li>
                        A regisztrációval egyidejűleg a Felhasználó beleegyezhet, hogy a megadott e-mail címére a Szolgáltató reklám célú
                        elektronikus hirdetéseket (eDM) küldjön.
                    </li>
                </ol>
            </li>
        </ol>
        
        <h2>A Szolgáltatás használata során lehetséges jogsértések és következményeik</h2>
        <ol>
            <li>
                Tilos bármilyen olyan rendszer vagy megoldás használata, amely a Szolgáltatás jelen Szerződésben kifejezetten nem
                engedélyezett módon történő felhasználását vagy a Szolgáltatás üzemeltetéséhez használt szerverek leállását célozza, teszi
                lehetővé vagy azt eredményezheti, vagy amely egyébként veszélyezteti a Szolgáltatás rendeltetésszerű működtetését.
            </li>
            <li>
                Szolgáltatás keretén belül tilos többek között (a) szerzői jogi oltalom alá eső művek megosztása vagy egyéb módon
                hozzáférhetővé tétele, kivéve ha a Felhasználó a saját művét teszi elérhetővé, vagy a jelen Szerződés feltételei egyébként
                teljesülnek; (b) a valóságnak nem megfelelő, megtévesztő vagy a valós tényeket hamis színben feltüntető vagy mások
                személyiségi jogait sértő kijelentések illetve egyéb, harmadik személyek vagy a Szolgáltató jogait potenciálisan sértő tartalmak
                megosztása vagy egyéb módon hozzáférhetővé tétele, kivéve az alkotmányos véleményszabadság gyakorlásának határain
                belül maradó tartalmakat és kijelentéseket; (c) reklám megosztása vagy egyéb módon hozzáférhetővé tétele; (d) jogosulatlanul,
                a tisztességtelen piaci magatartás és versenykorlátozás tilalmáról szóló törvény által tiltott módon megszerzett adatok, vagy
                üzleti titkok megosztása vagy egyéb módon hozzáférhetővé tétele.
            </li>
            <li>
                A Szolgáltatás, valamint a Weboldalon elérhető tartalom szerzői jogi védelem alatt áll. A szerzői jogok összessége és az
                adatbázis előállítójának védelmét szolgáló jogok a Szolgáltatót illetik meg, és a Szolgáltatás rendeltetésszerű használatával
                velejáró olvasáson, képernyőn történő megjelenítésen és az ehhez szükséges ideiglenes többszörözésen, továbbá a
                személyes, nem-kereskedelmi célból történő merevlemezre történő lementésen, kinyomtatáson túl semmilyen egyéb formában
                nem használható fel vagy hasznosítható a Szolgáltató előzetes írásbeli engedélye nélkül.
            </li>
            <li>
                A Szolgáltatás kizárólag a hatályos jogszabályok keretei között, harmadik személyek és Szolgáltató jogainak sérelme nélkül,
                illetve a jelen Szerződés betartása mellett használható. A Felhasználót terheli a felelősség a Szolgáltatással összefüggésben
                végzett valamennyi tevékenységéért.
            </li>
            <li>
                A Felhasználó tudomásul veszi, hogy a Szolgáltatás igénybevétele során megismert elérhetőségekre kizárólag az adott
                állásra vonatkozó jelentkezését küldheti el, így nem továbbíthat többek között kéretlen reklámüzeneteket (spam) ezen
                elérhetőségekre.
            </li>
            <li>
                Amennyiben a Szolgáltató tudomására jut, hogy a Szolgáltatás keretén belül jogsértő információ található, a vonatkozó
                jogszabályi követelményeknek megfelelően jár el az információ eltávolítása vagy a hozzáférés nem biztosítása tekintetében,
                beleértve a Felhasználói Tartalmak előzetes értesítés nélküli törlését. Amennyiben valamely Felhasználó a jelen Szerződés
                rendelkezéseibe vagy jogszabályba ütközően, illetve egyébként visszaélésszerűen használja a Szolgáltatást, a Szolgáltató
                jogosult akár előzetes értesítés nélkül a Felhasználó hozzáférési jogait felfüggeszteni, megszüntetni, továbbá a személyes nyitóoldal beállításait, az ott tárolt információkat törölni vagy
                módosítani. Ezek az intézkedések a Felhasználóval szemben más néven történő bejelentkezés vagy más adataival történő
                visszaélés esetén is alkalmazhatóak.
            </li>
            <li>
                A Szolgáltató egyoldalúan jogosult megítélni, hogy valamely Felhasználói Tartalom a jelen Szerződés rendelkezéseibe
                ütközik-e.
            </li>
            <li>
                Amennyiben bárki a saját weboldalán a szabaduszok.com weboldalra (vagy bármelyik elemére) mutató linket, vagyis
                hiperhivatkozást (Link) kíván elhelyezni, azt kizárólag a következő módon teheti meg: „Forrás: Szabadúszók www.szabaduszok.com,
                aloldal közvetlen (deep) linkje”
            </li>
            <li>
                A hirdető Megbízó felel azért, hogy az elküldött pályázatok kapcsán a jelentkezők információs önrendelkezési jogaikat
                érvényesíteni tudják, és köteles az ehhez szükséges információk elérését biztosítani a jelentkezők számára.
            </li>
        </ol>
        
        <h2>Felelősség</h2>
        <ol>
            <li>
                Mivel az Szolgáltató a Szolgáltatást adott állapotban nyújtja („AS IS”), a Szolgáltatás - ideértve a Szolgáltatás üzemeltetése
                során használt szoftvert, illetve a Szolgáltatás keretében elérhető valamennyi tartalmat is - pontosságáért, megbízhatóságáért,
                hibamentes működéséért, teljességéért, adott célra való alkalmasságáért a Szolgáltató semmilyen felelősséget nem vállal. A
                Szolgáltató nem felel továbbá a rajta kívül álló okkal összefüggésben keletkezett hibákért és ezek következményeiért, ilyen
                lehet például az Internetes hálózatban keletkezett technikai meghibásodás vagy kimaradás, bármilyen eredetű technikai leállás,
                szünet, információs rendszerek biztonságát sértő magatartások, mások által elhelyezett romboló alkalmazások vagy programok
                (például: vírusok, férgek, makrók vagy hacker tevékenységek).
            </li>
            <li>
                A Szolgáltató nem felelős a Felhasználó projekt keresésének eredményességéért, továbbá a meghirdetett projektek létezéséért,
                aktualitásáért, az azokban foglalt információk valóságnak megfelelőségéért. A Szolgáltató megtesz ugyanakkor minden tőle
                elvárhatót annak érdekében, hogy a Weboldalon kizárólag valós projektek kerüljenek közzétételre, illetve, hogy a hirdetők
                kizárólag létező, konkrét projektekkel keressék meg a Felhasználókat.
            </li>
            <li>
                A regisztrációkor, illetve hírlevél feliratkozáskor történő adatközlés hiányosságaiért, illetve a hibásan megadott adatokból
                adódó bármilyen következményért Szolgáltató felelősséget nem vállal.
            </li>
            <li>
                A Szolgáltató nem vállal felelősséget a felhasználói jelszavak vagy fiókok a Felhasználók tudtával vagy tudta nélküli
                illetéktelen használatából eredő károkért. A Felhasználó ugyanakkor felelősséggel tartozik a saját jelszavának vagy fiókjának
                illetéktelen használatával a Szolgáltatónak vagy bármely harmadik személynek okozott károkért.
            </li>
            <li>
                A Weboldal harmadik személyek által üzemeltetett weboldalakra mutató linkeket is tartalmaz. Amennyiben a Szolgáltató
                tudomást szerez arról, hogy az általa linkelt oldal vagy a linkelés harmadik személyek jogait vagy a hatályos jogszabályokat
                sérti, a linket haladéktalanul eltávolítja a Weboldalról. Ezen felül a Szolgáltató az általa használt linkek illetve az általuk
                lehívható weboldalak tartalmáért semmilyen felelősséget nem vállal és azok tartalmát nem ellenőrzi.
            </li>
            <li>
                A Szolgáltatás használatáért kizárólag az adott Felhasználó
                tartozik felelősséggel. A Szolgáltató kizárja a felelősséget minden, esetlegesen abból eredő kárért, ha a Felhasználó jogsértő
                magatartása miatt vagy valamely hatóság vagy bíróság döntése alapján valamely Felhasználói Tartalmat törölt.
            </li>
            <li>
                A Felhasználó köteles a Szolgáltatónak, illetve minden érintett harmadik személynek megtéríteni minden olyan kárt, vagyoni
                hátrányt és költséget, ami a Szolgáltatót vagy más harmadik személyt a Felhasználó bármely jogellenes magatartása miatt vagy
                azzal összefüggésben éri. Amennyiben a Felhasználó magatartása következtében vagy azzal összefüggésben harmadik
                személy vagy bármely hatóság, illetve bíróság a Szolgáltatóval szemben bármilyen igényt támaszt illetve eljárást indít, a
                Felhasználó köteles közvetlenül helytállni, valamint minden a Szolgáltató által megkövetelt intézkedést megtenni és a
                Szolgáltatónak megtéríteni minden olyan kárt, vagyoni hátrányt és költséget, ami a Szolgáltatót a Felhasználó bármely
                jogellenes magatartása miatt vagy azzal összefüggésben éri.
            </li>
            <li>
                A Felhasználó felelőssége a Szolgáltatás használatával összefüggésben elkövetett jogsértésért a regisztrációja megszűnését
                követően is fennáll.
            </li>
        </ol>
        
        <h2>A Szerződés megszűnése</h2>
        <ol>
            <li>
                A Szerződés megszűnik a Felhasználó regisztrációjának törlésével, amely esetben a Profilban mentett információk is törlésre
                kerülnek, és a jelen Szerződés azonnali hatállyal és automatikusan megszűnik. A regisztráció törlésének módjai:
                <ol>
                    <li>
                        A Felhasználó bármikor kérheti a Szolgáltatótól postai vagy elektronikus levélben regisztrációja törlését.
                    </li>
                    <li>
                        Amennyiben a Felhasználó megszegi a jelen Szerződés feltételeit, a Szolgáltató törölheti a Felhasználó regisztrációját.
                    </li>
                </ol>
            </li>
            <li>
                A Szolgáltató fenntartja a jogot, hogy a Szolgáltatás egészét megszüntesse, amely esetben a jelen Szerződés automatikusan
                megszűnik.
            </li>
        </ol>
        
        <h2>Egyéb rendelkezések</h2>
        <ol>
            <li>
                A felhasználók személyes adatainak kezeléséről az <a href="{{ ROOT }}szabaduszok-adatvedelem">Adatvédelmi Nyilatkozat</a> rendelkezik.
            </li>
        </ol>

        <p class="text-centeri">Szombathely, 2016. április 22.</p>

        <p class="text-centeri">hello@szabaduszok.com</p>

    </div>
    </div>
    </div>
  </div>
{% endblock content %}