{% extends "Templates/default.twig" %}
{% import "Search/panel.twig" as searchPanel %}
{% import "Pager/panel.twig" as pagerPanel %}

{% block content %}
<div class="bloc tc-black bgc-anti-flash-white l-bloc" id="bloc-13">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="mg-md text-center tc-black">
					Szabadúszók
				</h1>

				{{ searchPanel.build(container) }}
				
				<div class="row">
					<div class="col-sm-12 text-center" id="list-results">
						<p class=" project-count-paragraph">
							Összes Szabadúszó: <span class="bold">{{ countAllUsers }}</span>
						</p>
						{% if current %}
						<p class=" project-count-paragraph">
							Keresési találatok száma: <span class="bold">{{ countUsers }}</span>
						</p>
						{% endif %}
					</div>					
				</div>
				
				{% include 'User/parts/_pager.twig' %}
				{% include 'User/parts/_list.twig' %}
				{% include 'User/parts/_pager.twig' %}					
			</div>
		</div>
	</div>
</div>
{% endblock content %}